---
import { supabase } from '../../db/supabase';
import '../../styles/globals.css';
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import ProjectDetails from '../../components/react/ProjectDetails';
import RelatedProjects from '../../components/react/RelatedProjects';
import { Icon } from 'astro-icon/components';
import RootLayout from '@/layouts/RootLayout.astro';

const { project } = Astro.params;

const { data, error } = await supabase
	.from('projects')
	.select('*')
	.eq('project_name', project)
	.single();

if (error) {
	throw new Error('Failed to fetch project' + error);
}
---

<RootLayout
	title={`${data.project_name} | SPAP Technology Solutions`}
	description={data.card_description}
	imageRef={data.thumbnail_url}
	urlSlug={project}
>
	<section class="min-h-screen w-screen relative text-text-primary">
		<h1
			class="text-7xl w-fit lg:text-[10rem] lg:w-1/2 max-w-screen font-bold opacity-20"
		>
			{data.project_name}
		</h1>
		<div class="absolute inset-0 h-full w-full z-20 overflow-y-scroll">
			<div
				class="flex-col flex items-center justify-center h-full lg:w-3/4 lg:mx-auto lg:p-32 lg:mb-64"
			>
				<a
					href="/"
					class="mr-auto text-5xl my-2 mx-4 hover:text-accent-pop hover:-translate-x-4 z-30 duration-200 ease-linear"
					><Icon name="mdi:arrow-back" /></a
				>
				<div
					class="bg-gradient-to-r from-accent-primary/75 to-accent-pop/75 p-10 lg:p-32 rounded-xl"
				>
					<video
						autoplay
						muted
						playsinline
						loop
						class="w-full object-cover rounded-xl"
						src={data.thumbnail_url
							? data.thumbnail_url
							: 'https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/branding/logos/SPAP%20Logos/Vertical/PNG/White_Vertical%20Lockup_SPAP.png'}
					></video>
				</div>
				<h2 class="lg:text-7xl text-4xl text-center font-extralight py-8">
					{data.project_name} - {data.company_name}
				</h2>
				<h3 class="text-center text-sm">{data.card_description}</h3>
			</div>

			<div></div>
			<div
				id="project-overview"
				class="bg-gradient-to-br from-accent-primary/75 to-accent-pop/75 rounded-xl py-20 px-5 my-8 lg:w-3/4 mx-auto"
			>
				<ProjectDetails client:visible data={data} />
			</div>
			<div class="py-32">
				<p
					class="text-center font-bold text-4xl bg-gradient-to-r from-accent-primary to-accent-pop bg-clip-text text-transparent"
				>
					Ready to Get Results Like {data.company_name}?
				</p>
				<a
					href="/contact"
					class="border-2 p-4 border-accent-pop text-accent-pop w-3/4 lg:w-1/2 hover:text-text-primary lg:p-6 mx-auto block text-center rounded-xl my-4 hover:bg-accent-pop hover:border-none hover:scale-110 duration-200 ease-linear"
					>Contact Me</a
				>
			</div>
			<!-- <RelatedProjects tags={data.tags} /> -->
		</div>
	</section>
</RootLayout>
