---
import { Icon } from 'astro-icon/components';
import NavigationContainer from '../components/astro/NavigationContainer.astro';
import '../styles/globals.css';

const { title, description, imageRef, urlSlug } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta charset="UTF-8" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={`https://spaptechnology.com/${urlSlug}`} />
		<meta property="og:image" content={imageRef} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={imageRef} />
		<meta name="author" content="Shawn Papineau, SPAP Technology Solutions" />
		<meta name="copyright" content="© 2024 SPAP Technology Solutions" />
		<link rel="canonical" href={`https://spaptechnology.com/${urlSlug}`} />
		<title>{title}</title>
	</head>

	<body
		class="mx-auto bg-gradient-to-b from-black to-gray-900 min-h-screen flex flex-col items-center"
	>
		<header>
			<NavigationContainer />
		</header>
		<main>
			<slot />
		</main>
		<footer class="p-4 text-white w-full mt-auto border-t-[.5px]">
			<Icon class="text-4xl" name={'logos/white-primary'} />
			<p class="text-xs text-center mt-8">
				© 2024 SPAP Technology Solutions. All Rights Reserved.
			</p>
		</footer>
	</body>
</html>

<style>
	@import '../styles/globals.css';
</style>
